.headerDiv {
    background: grey;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.headerLinks {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-around;
}
.links {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.myName {
    margin-left: 2%;
}